if SHIELD_FLOUNDER_LEFT
 
config ZMK_KEYBOARD_NAME
    default "flounder"
 
config ZMK_SPLIT_ROLE_CENTRAL
    default y
 
endif
 
if SHIELD_FLOUNDER_LEFT || SHIELD_FLOUNDER_RIGHT
 
config ZMK_SPLIT
    default y
 
endif